.not-found-container {
    justify-content: center;
    text-align: center;
}

.not-found-header {
    font-size: 8.5rem;
}

.not-found-msg {
    font-size: 1.75rem;
    margin: 2rem 0 2rem 0;
}

.not-found-btn {
    font-size: 1.2rem;
    margin-top: 1.5rem;
}